.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 350px;
    width: 600px;
    background: beige;
    padding-bottom: 30px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text {
    font-family: garamond;
    color: brown;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background: brown;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: hsl(0, 0%, 92%);
    border-radius: 6px;
}

.input img{
    margin: 0px 30px;
    width:8%;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: hsl(0, 0%, 47%);
    font-size: 19px;
}

.forgot-password{
    font-family: garamond;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgot-password span{
    font-family: garamond;
    color: brown;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    font-family: garamond;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: white;
    background: brown;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}